
*.user

*.db

*.filters

*.pdb

*.ilk

*.suo

*.iobj

*.ipdb

*.idb

*.lastbuildstate

*.tlog

*.obj

*.log
*.ini

Project/obj/

*.ipch

Assignment 1/BehaviorTrees/Debug/

Assignment 2/Pathfinding/Release/

Assignment 2/Pathfinding/Debug/
